- @page_title = "結果一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    %p
      味方一覧、敵一覧の取得は1ターン目の敵味方一覧から取得しています。そのため、戦闘開始時に倒れた場合は取得することができません。
      %br
      また、進行キャラクターが戦闘開始時に倒れた場合、二人目以降のキャラクターが進行キャラクターとして誤認されます。
    = render "layouts/base_desc"
    %p
      ※参戦Eno、参戦キャラクター名、呼び出しEno、呼び出しキャラクター名、同行ENo、同行キャラクター名は、一つの検索枠だけではOR検索しかできません。別々の検索枠に入力した場合はAND検索となり、キャラ同士の組み合わせで検索できます。具体的には入力例を御覧ください。
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
      %p
        Eno、キャラクター名での検索について、
        %br
        参戦キャラクター名に「カルロス ベルナ」……何もヒットしません
        %br
        参戦キャラクター名に「カルロス/ベルナ」……カルロスかベルナが参戦している結果がヒットします
        %br
        進行キャラクター名に「カルロス」、同行キャタクター名に「ベルナ」……カルロスがベルナを呼び出している結果がヒットします
        %br
        進行キャラクター名に「カルロス」、同行キャタクター名に「ベルナ」、参戦Enoに「1」……カルロスが、ベルナとEno.1のキャラクターを呼び出している結果がヒットします
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
        %td.indent
        %td= f.label :story_form, '物語'
        %td.formText= text_field_tag :story_form, @story_form
        %td= f.label :page_no_form, '頁'
        %td.formNum= text_field_tag :page_no_form, @page_no_form
      %tr
        %td.indent
        %td= f.label :party_members_e_no_form, '参戦ENo'
        %td.formNum= text_field_tag :party_members_e_no_form, @party_members_e_no_form
        %td= f.label :party_members_name_form, '参戦キャラクター名'
        %td.formText= text_field_tag :party_members_name_form, @party_members_name_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_battle_no, @show_battle_no
          - act_icon(false)
          = label_tag :show_battle_no, '　進行(呼び出し元)、同行で絞り込む', class: "act_desc"
          = label_tag :show_battle_no, '　進行(呼び出し元)、同行を非表示にする', class: "act_desc closed"
          %div.act_desc 　進行ENo、進行キャラクター名、同行ENo、同行キャラクター名
    %tbody.closed
      %tr
        %td.indent
        %td= f.label :leader_e_no_form, '進行ENo'
        %td.formNum= text_field_tag :leader_e_no_form, @leader_e_no_form
        %td= f.label :leader_name_form, '進行キャラクター名'
        %td.formText= text_field_tag :leader_name_form, @leader_name_form
      %tr
        %td.indent
        %td= f.label :fellow_members_e_no_form, '同行ENo'
        %td.formNum= text_field_tag :fellow_members_e_no_form, @fellow_members_e_no_form
        %td= f.label :fellow_members_name_form, '同行キャラクター名'
        %td.formText= text_field_tag :fellow_members_name_form, @fellow_members_name_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_battle_no, @show_battle_no
          - act_icon(false)
          = label_tag :show_battle_no, '　結果Noで絞り込む', class: "act_desc"
          = label_tag :show_battle_no, '　結果No検索を非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
        %td.indent
        %td= f.label :battle_no_form, '結果No'
        %td.formNum{colspan: "3"}= text_field_tag :battle_no_form, @battle_no_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_battle_result, @show_battle_result
          - act_icon(false)
          = label_tag :show_battle_result, '　勝敗を表示する', class: "act_desc"
          = label_tag :show_battle_result, '　勝敗を非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :battle_result_form, '勝敗'
        %td{colspan: "3"}
          = check_box_tag :is_win, @is_win, @is_win
          = label_tag :is_win, '勝利'
          　
          = check_box_tag :is_draw, @is_draw, @is_draw
          = label_tag :is_draw, '引分'
          　
          = check_box_tag :is_lose, @is_lose, @is_lose
          = label_tag :is_lose, '敗北'
          　
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_enemy, @show_enemy
          - act_icon(false)
          = label_tag :show_enemy, '　敵名を表示する', class: "act_desc"
          = label_tag :show_enemy, '　敵名を非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
        %td.indent
        %td= f.label :enemy_form, '敵名'
        %td.formText{colspan: "3"}= text_field_tag :enemy_form, @enemy_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_num, @show_num
          - act_icon(false)
          = label_tag :show_num, '　人数を表示する', class: "act_desc"
          = label_tag :show_num, '　人数を非表示にする', class: "act_desc closed"
          %div.act_desc 　パーティ人数、敵人数
    %tbody.closed
      %tr
      %tr
        %td.indent
        %td= f.label :party_num_form, 'パーティ人数'
        %td.formNum= text_field_tag :party_num_form, @party_num_form
        %td= f.label :enemy_num_form, '敵人数'
        %td.formNum= text_field_tag :enemy_num_form, @enemy_num_form
    %tbody
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@pages)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :battle_no, '結果No', default_order: :desc)
      %th.sep= sort_link(@search, :story_id, '物語', default_order: :desc)
      %th= sort_link(@search, :page_no, '頁', default_order: :desc)
      - if @show_battle_result == "1"
        %th.sep= sort_link(@search, :battle_result, '勝敗', default_order: :desc)
      %th.sep= sort_link(@search, :party_members_e_no,'参戦キャラクター(ENo)', default_order: :desc)
      - if @show_num == "1"
        %th= sort_link(@search, :party_num, '人数', default_order: :desc)
      - if @show_enemy == "1"
        %th.sep= sort_link(@search, :enemy_members_enemy_id,'敵一覧', default_order: :desc)
      - if @show_num == "1"
        %th= sort_link(@search, :enemy_num, '敵数', default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @pages.each do |page|
      %tr
        %td= page.battle_no
        %td.sep
          = "[" + sprintf("%d", page.story_id) + "]"
          = page.story.title if page.story
        %td= page.page_no
        - if @show_battle_result == "1"
          %td.sep
            = "勝利" if page.battle_result == 1
            = "引分" if page.battle_result == 0
            = "敗北" if page.battle_result == -1
            = "" if page.battle_result == -99
        %td.sep
          - party_members(page.party_members) if page.party_members
        - if @show_num == "1"
          %td= page.party_num
        - if @show_enemy == "1"
          %td.sep
            - enemy_members(page.enemy_members) if page.enemy_members
        - if @show_num == "1"
          %td= page.enemy_num
        %td.sep= battle_link(page.result_no, page.generate_no, page.battle_no)
= paginate(@pages)
